.ant-carousel {
  .slick-slide {
    text-align: center;
    height: 500px;
    line-height: 160px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://img.freepik.com/premium-photo/abstract-winter-background-with-snow-blurred-trees-during-snowfall_199743-8591.jpg');
    background-size: cover;
    overflow: hidden;
  }
}

.ant-carousel {
  .slick-slide {
    img {
      object-fit: cover;
    }
  }
}
