.product-wrapper {
  @media (min-width: 500px) {
    max-width: 100%;
    padding: 1rem 4rem;
  }

  margin: 50px auto;
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  .product-image {
    justify-content: 'flex-start';

    display: flex;
  }
  .product-description {
    padding-left: 25px;
    @media (max-width: 700px) {
      padding-right: 25px;
    }
    .price-description {
      span.ant-typography {
        font-size: 30px;
        &:not(.on_sale) {
          color: '#ccc';
        }
      }
    }
    .ant-descriptions-title {
      font-size: 35px;
    }
    .ant-descriptions-item-label {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .add-to-cart-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  > .ant-button {
    width: 100%;
  }

  .container-button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-item {
  flex: 1;
  padding: 12px;
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  border: 0.5px solid #ccc; /* Borde entre los cuadrados */
}

/* Colores al pasar el mouse y al seleccionar */
.grid-item:hover {
  background-color: #1890ff7f;
}

.grid-item.selected {
  background-color: #1890ff; /* Color de fondo cuando está seleccionado */

  h1 {
    color: white; /* Color del texto cuando está seleccionado */
  }

  p {
    color: white; /* Color del texto cuando está seleccionado */
  }
}

/* Estilos de los textos */
.grid-item h1 {
  font-size: 1em;
  color: #333;
  margin-bottom: 0.3em; /* Espacio entre el título y el subtítulo */
}

.grid-item p {
  font-size: 1em;
  color: #666;
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 600px) {
  .grid-item h1 {
    font-size: 1em;
  }
  .grid-item p {
    font-size: 0.8em;
  }
}

.carousel-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
}

.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  position: relative; /* Añadido para posicionar absolutamente los slides */
}

.slide {
  display: flex;
  opacity: 0; /* Inicialmente, todos los slides son transparentes */
  max-width: 100%;
  max-height: 600px;

  transition: opacity 1s ease, transform 1s ease; /* Transición de opacidad y transformación */
  position: absolute; /* Posicionamiento absoluto para que se superpongan */
  top: 0; /* Alineación vertical */
  left: 0; /* Alineación horizontal */
  object-fit: contain;
  width: 100%; /* Asegurarse de que cada slide ocupa el ancho completo del contenedor */
}

.slide.active {
  opacity: 1; /* El slide activo es completamente opaco */
  position: relative; /* El slide activo es posicionado de forma relativa */
}

.carousel-button {
  cursor: pointer;
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 50px;
  border: none;

  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100; /* Asegurarse de que esté por encima de las imágenes */
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: #ccc;
}

// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   20% {
//     transform: translateX(-100%);
//   }
//   40% {
//     transform: translateX(-200%);
//   }
//   60% {
//     transform: translateX(-300%);
//   }
//   80% {
//     transform: translateX(-400%);
//   }
//   100% {
//     transform: translateX(-500%);
//   }
// }
